.navbar {
    background-color: white;

    border-bottom: 2px solid rgba(12, 12, 12, 0.3);
    box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .1) !important;
}

.nav-item {
    margin-right: 5px;
}

.hint,
.hint.link,
.hint.visited,
.hint.hover {
    color: var(--color-1);
}


.navbar-toggler,
.nav-link {
    /*color: var(--color-4);*/
    font-size: 25px;
    color: var(--color-3);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: var(--color-1);
    font-weight: bold;

}


.container {
    text-align: center;
}

.card-holder {
    margin-top: 25px;
}

#logo {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#logo > div {
    padding: 3px;
    border-radius: 3px;
    background: var(--color-1);
    color: var(--color-3);
    display: inline-block;
}

#logo div > span {
    padding: 3px;
    border-radius: 3px;
    background: white;
    display: inline-block;
}

#clockdiv {
    width: 100%;
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: var(--color-1);
    display: inline-block;

}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: white;
    display: inline-block;
    color: var(--color-3);
}

#clockdiv .smalltext {
    padding-top: 5px;
    font-size: 16px;
    display: none;
}

main {
    padding-top: 3rem
}

footer {
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.agenda-item {
    color: var(--color-3);
    font-size: 25px;
}

.agenda-item.hover,
.agenda-item.active {
    border-color: var(--color-3);
    color: var(--color-1);
    font-weight: bold;
}