{% extends 'layout.html' %}
{% block page_content %}

<style>
    .btn-group {
        width: 100%;
    }

    .btn-group > .btn {
        width: 50%;
    }

    h1 {
        text-align: center;
    }


</style>

<div id="rsvp-app">
    <h1>Répondez S'il Vous Plaît</h1>

    <div class="card-holder">

        <div v-for="guest in guests" class="card">
            <div class="card-body">
                <div class="container">

                    <div class="row">
                        <div class="col-8">
                            <h1>[[guest.name]]</h1>
                        </div>

                        <div class="col-4">

                            <div class="btn-group btn-group-toggle"
                                 data-toggle="buttons">
                                <button v-on:click="choose_yes(guest.id)"
                                        v-bind:class="{'btn':true, 'btn-secondary':true, 'btn-success':guest.rsvp}">
                                    <i class="fas fa-check fa-2x"></i>
                                </button>


                                <button v-on:click="choose_no(guest.id)"
                                        v-bind:class="{'btn':true, 'btn-secondary':true, 'btn-danger':(!guest.rsvp && guest.rsvp != null)}">
                                    <i class="fas fa-times fa-2x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    new Vue({
        el: '#rsvp-app',
        data: {
            guests: []
        },
        methods: {
            choose_yes: function (guest_id) {


                var self = this

                for (var ii = 0; ii < this.guests.length; ii++) {
                    if (this.guests[ii].id === guest_id) {

                        if (this.guests[ii].rsvp !== true) {
                            $.post("/update_rsvp", {
                                "id": guest_id,
                                "choice": true
                            }).done(function (data, status) {
                                self.guests[ii].rsvp = true
                            });

                        }

                        break
                    }
                }
            },
            choose_no: function (guest_id) {

                var self = this

                for (var ii = 0; ii < this.guests.length; ii++) {
                    if (this.guests[ii].id === guest_id) {

                        if (this.guests[ii].rsvp !== false) {

                            $.post("/update_rsvp", {
                                "id": guest_id,
                                "choice": false
                            }).done(function (data, status) {
                                self.guests[ii].rsvp = false
                            });
                        }
                        break
                    }
                }
            }
        },
        created: function () {

            this.guests = {{ users | tojson }}


        },
        delimiters: ["[[", "]]"]
    })
</script>

{% endblock page_content%}

