{% extends 'layout.html' %}
{% block page_content %}


<div id="agenda-app" class="w-100">

    <h1>Agenda</h1>

    <div class="card-holder">

        <div v-for="event in events_information" class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h2>[[event.name]]</h2>
                    </div>

                    <div class="col">
                        <h2>[[event.date]] | [[event.time]]</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    new Vue({
        el: '#agenda-app',
        data: {
            agenda_items: []
        },
        created: function () {

            this.events_information = {{ events_information | tojson }}
        },
        delimiters: ["[[", "]]"]
    })
</script>

{% endblock page_content%}