{% extends 'layout.html' %}
{% block page_content %}

<style>
    .btn-group {
        width: 100%;
    }

    .btn-group > .btn {
        width: 50%;
    }

    h1 {
        text-align: center;
    }


</style>

<div class="w-100 h-100 d-flex flex-column">

    <div class="flex-grow-1 d-flex row">
        <div class="col align-self-center">

            <h2>
            Gute Nachrichten!
                </h2>
            <h3>
            Laut der aktuellen <a class="color-1" href="https://www.land.nrw/sites/default/files/asset/document/2020-07-12_fassung_coronaschvo_ab_15.07.2020_lesefassung.pdf">Coronaschutzverordnung</a> ist unsere Hochzeit erlaubt!
            </h3>
            <img src="{{ url_for('static', filename='img/corona/corona_nrw.jpg') }}">
            <br>
            <br>
            <i class="fas fa-virus fa-6x color-1 mb-5"></i>


        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#figts-app',
        data: {
            guests: [],
        },
        methods: {},


        delimiters: ["[[", "]]"]
    })
</script>

{% endblock page_content%}

