<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://kit.fontawesome.com/fccfaa6823.js"></script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/main.css') }}">
    <link href="{{ url_for('static', filename='css/layout.css') }}"
          type="text/css"
          rel="stylesheet">


    <title>031020</title>
</head>
<body>

<div class="d-flex flex-column h-100 w-100">

    <nav id="header-app" class="navbar navbar-expand-lg">

        <div class="navbar-brand mx-auto">
            <div id="logo">
                <div>
                    <span class="years">03</span>
                </div>
                <div>
                    <span class="days">10</span>
                </div>
                <div>
                    <span class="hours">2020</span>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-fill w-100">

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'home')}]"
                       href="{{ url_for('home') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'rsvp')}]"
                       href="{{ url_for('rsvp') }}">RSVP</a>
                </li>

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'hotels')}]"
                       href="{{ url_for('hotels') }}">Hotels</a>
                </li>

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'agenda')}]"
                       href="{{ url_for('agenda') }}">Agenda</a>
                </li>

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'gifts')}]"
                       href="{{ url_for('gifts') }}">Wünsche</a>
                </li>

                <li class="nav-item">
                    <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'corona')}]"
                       href="{{ url_for('corona') }}">Corona</a>
                </li>

                <li v-if="is_admin" class="nav-item">
                        <a v-bind:class="['nav-link', {'active':('{{ active_page }}' == 'overview')}]"
                           href="{{ url_for('overview') }}">Overview</a>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>

                            <div class="col-2">
                                <span>Logout</span>
                            </div>
                        </div>
                    </a>

                </li>
            </ul>
        </div>


    </nav>

    <main id="main" role="main"
          class="flex-grow-1 d-flex justify-content-center">

        <div class="container">
            {% block page_content %}{% endblock %}
        </div>


    </main>

    <footer id="footer" class="flex-grow-2">

        <div id="clockdiv" class="align-middle">
            <!--<div>
                <span class="years"></span>
                <div class="smalltext label-years">Years</div>
            </div>-->
            <div>
                <span class="days"></span>
                <div class="smalltext label-days">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext label-hours">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext label-minutes">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext label-seconds">Seconds</div>
            </div>
        </div>

    </footer>
</div>


</body>
</html>

<script>

    console.log("Man schaut nicht in fremden Source-Code!")

    var active_page = "{{ active_page }}";
    var is_admin = "{{ is_admin }}" === "True";


    new Vue({
        delimiters: ["[[", "]]"],
        el: '#header-app',
        data: {
            active_page: active_page,
            is_admin: is_admin
        }

    })

    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / (1000 / 60)) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24) % 365);
        var years = Math.floor(t / (1000 * 60 * 60 * 24 * 365));
        return {
            'total': t,
            'years': years,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function adjustLabel(div, label, value) {
        if (value != 1) {
            label += 's'
        }
        div.innerHTML = label
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        // var yearsSpan = clock.querySelector('.years');
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        // var labelYearsDiv = clock.querySelector('.label-years');
        var labelDaysDiv = clock.querySelector('.label-days');
        var labelHoursDiv = clock.querySelector('.label-hours');
        var labelMinutesDiv = clock.querySelector('.label-minutes');
        var labelSecondsDiv = clock.querySelector('.label-seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            // yearsSpan.innerHTML = t.years;
            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            // adjustLabel(labelYearsDiv, "Year", t.years);
            adjustLabel(labelDaysDiv, "Day", t.days);
            adjustLabel(labelHoursDiv, "Hour", t.hours);
            adjustLabel(labelMinutesDiv, "Minute", t.minutes);
            adjustLabel(labelSecondsDiv, "Second", t.seconds);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = 'October 3 2020 15:30:00 GMT+0200';

    initializeClock('clockdiv', deadline);

</script>