<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/login.css') }}">
    <title>031020</title>
</head>


<div class="login-page">


    <div id="clockdiv">
        <!--div>
            <span class="years"></span>
            <div class="smalltext label-years">Years</div>
        </div-->
        <div>
            <span class="days"></span>
            <div class="smalltext label-days">Days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext label-hours">Hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext label-minutes">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext label-seconds">Seconds</div>
        </div>
    </div>


    <div class="form">
        <form class="login-form" method="post">
            {{ form.hidden_tag() }}

            {{ form.token(size=32) }}

            <button type="submit">Login</button>

        </form>
    </div>
</div>
</html>

<script>
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        console.log(t)
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / (1000 / 60)) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24) % 365);
        var years = Math.floor(t / (1000 * 60 * 60 * 24 * 365));
        return {
            'total': t,
            'years': years,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function adjustLabel(div, label, value) {
        if (value != 1) {
            label += 's'
        }
        div.innerHTML = label
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        //var yearsSpan = clock.querySelector('.years');
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        //var labelYearsDiv = clock.querySelector('.label-years');
        var labelDaysDiv = clock.querySelector('.label-days');
        var labelHoursDiv = clock.querySelector('.label-hours');
        var labelMinutesDiv = clock.querySelector('.label-minutes');
        var labelSecondsDiv = clock.querySelector('.label-seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            if (t.total > 0) {

                //yearsSpan.innerHTML = t.years;
                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                //adjustLabel(labelYearsDiv, "Year", t.years);
                adjustLabel(labelDaysDiv, "Day", t.days);
                adjustLabel(labelHoursDiv, "Hour", t.hours);
                adjustLabel(labelMinutesDiv, "Minute", t.minutes);
                adjustLabel(labelSecondsDiv, "Second", t.seconds);

            } else {
                clearInterval(timeinterval);

                daysSpan.parentElement.style.display = 'none';
                hoursSpan.innerHTML = ('03');
                minutesSpan.innerHTML = ('10');
                secondsSpan.innerHTML = ('20');
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = 'October 3 2020 16:00:00 GMT+0200';

    initializeClock('clockdiv', deadline);

</script>