{% extends 'layout.html' %}
{% block page_content %}

<style>
    .btn-group {
        width: 100%;
    }

    .btn-group > .btn {
        width: 50%;
    }

    .btn {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .unfocused {
        opacity: 0.3;
    }

    .form-control {
        font-size: 30px;
    }


</style>


<div id="admin-app">

    <table class="table">
        <thead>
        <tr>
            <th>group#</th>
            <th>guest#</th>
            <th>group</th>
            <th>name</th>
            <th>Freie Trauung & Feier</th>
            <th>Katerfrühstück</th>
            <th>Standesamt</th>
            <th>Get-Together</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th v-for="count in rsvp_counts">
                <span class="text-success">[[count[0] ]]</span>
                <span class="text-danger">[[count[1] ]]</span>
                <span class="text-warning">[[count[2] ]]</span>
            </th>


        </tr>

        <template v-for="group in groups">
            <template v-for="(guest, idx_guest) in group.users">
                <tr>
                    <th v-if="idx_guest == 0">[[group.id]]</th>
                    <th v-else></th>
                    <th>[[guest.id]]</th>
                    <th v-if="idx_guest == 0">[[group.name]]</th>
                    <th v-else></th>

                    <th>[[guest.name]]</th>
                    <template v-for="(count,idx_event) in 4">
                        <th v-if="idx_event in guest.rsvp"
                            :class="[{'table-success': guest.rsvp[idx_event] === true, 'table-danger': guest.rsvp[idx_event] === false, 'table-warning': guest.rsvp[idx_event] === null}]"></th>
                        <th v-else class="table-secondary"></th>
                    </template>

                </tr>

            </template>
        </template>
        <tbody>
    </table>

</div>


<script>
    new Vue({
        el: '#admin-app',
        data: {
            groups: [],
            group_edit: null,

            show_add_group_form: false,
            group_edit_name: '',
            group_token: null,
            group_edit_guests: [''],
            group_edit_placeholder: ''
        },

        created: function () {
            // @formatter:off
            this.groups = {{ groups | tojson }}
            // @formatter:on
        },

        computed: {
            rsvp_counts: function () {

                counts = [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

                for (const [_, group] of Object.entries(this.groups)) {
                    for (const [_, user] of Object.entries(group.users)) {

                        for (const [_, event] of Object.entries(group.events)) {

                            if (user.rsvp[event]) {
                                counts[event][0] += 1
                            } else if (user.rsvp[event] === false) {
                                counts[event][1] += 1
                            } else {
                                counts[event][2] += 1
                            }


                        }

                    }
                }

                return counts
            }
        },


        delimiters: ["[[", "]]"]

    })
</script>

{% endblock page_content%}

