{% extends 'layout.html' %}
{% block page_content %}

<style>
    .btn-group {
        width: 100%;
    }

    .btn-group > .btn {
        width: 50%;
    }

    h1 {
        text-align: center;
    }


</style>

<div id="rsvp-app" class="w-100 h-100 d-flex flex-column">

    <div class="row">
        <div class="col w-100 align-self-center">
            <div class="progress w-100" style="height: 40px;">
                <div :class="['progress-bar']"
                     role="progressbar"
                     :style="progress_style(progress)"
                     :aria-valuenow="[[guests.length]]" aria-valuemin="0"
                     :aria-valuemax="[[guests.length * events.length]]">
                </div>
            </div>
        </div>
    </div>

    <div class="flex-grow-1 d-flex row">
        <div class="col w-100 align-self-center">

            <!--Carousel Wrapper-->
            <div id="multi-item-example"
                 class="carousel slide carousel-multi-item w-100 h-100 mt-5"
                 data-ride="carousel" data-interval="false">

                <div class="row">
                    <div class="col-1 d-flex justify-content-center">
                        <a class="btn-navigation btn-floating align-self-center"
                           href="#multi-item-example"
                           data-slide="prev"><i
                                class="fas fa-chevron-left"></i></a>
                    </div>


                    <!--div class="col">
                        <ol class="carousel-indicators">
                            <li v-for="(event, idx) in events" data-target="#multi-item-example" data-slide-to="{idx}"
                                :class="{'dot': true, 'dot_highlight': idx==0, 'active': idx==0}"></li>

                        </ol>

                    </div-->
                    <div class="col">
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--Slide-->
                            <div v-for="(event, idx) in events"
                                 :class="{'carousel-item': true, 'active': idx==0}">


                                <div class="card mb-1">
                                    <div class="card-header color-1"><h2>
                                        [[event.name]]</h2>

                                    </div>
                                    <div class="card-body">
                                        <h3>[[event.date]] |
                                            [[event.time]]</h3>
                                        <h3>[[event.description]]</h3>


                                    </div>

                                </div>


                                <div v-for="guest in guests" class="card">
                                    <div class="card-body">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-8 d-flex justify-content-center">
                                                    <h3 class="align-self-center">
                                                        [[guest.name]]</h3>
                                                </div>

                                                <div class="col-4 d-flex justify-content-center">
                                                    <div class="row align-self-center">
                                                        <div class="col">
                                                            <div class="btn-group btn-group-toggle"
                                                                 data-toggle="buttons">
                                                                <button v-on:click="choose_yes(guest.id, event.id)"
                                                                        v-bind:class="['btn', 'btn-secondary', {'btn-success':guest.rsvp[event.id]}]">
                                                                    <i class="fas fa-check fa-2x"></i>
                                                                </button>

                                                                <button v-on:click="choose_no(guest.id, event.id)"
                                                                        v-bind:class="['btn', 'btn-secondary', {'btn-danger':(!guest.rsvp[event.id] && guest.rsvp[event.id] != null)}]">
                                                                    <i class="fas fa-times fa-2x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/.Slide-->

                        </div>
                        <!--/.Slides-->
                    </div>
                    <div class="col-1 d-flex justify-content-center">

                        <a class="btn-navigation btn-floating align-self-center"
                           href="#multi-item-example"
                           data-slide="next"><i
                                class="fas fa-chevron-right"></i></a>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#rsvp-app',
        data: {
            guests: [],
        },
        methods: {
            progress_style: function (progress) {

                const r = 136 + progress * (200 - 136)
                const g = 136 + progress * (76 - 136)
                const b = 136 + progress * (0 - 136)

                const h = 0 + progress * (23 - 0)
                const s = 0 + progress * (100 - 0)
                const l = 53 + progress * (39 - 53)


                return {
                    // backgroundColor: `rgb(${r},${g},${b})`,
                    backgroundColor: `hsl(${h},${s}%,${l}%)`,
                    width: progress * 100 + '%'
                };

            },

            choose_yes: function (guest_id, event_id) {


                var self = this

                for (var ii = 0; ii < this.guests.length; ii++) {
                    if (this.guests[ii].id === guest_id) {

                        if (this.guests[ii].rsvp[event_id] !== true) {
                            $.post("/update_rsvp", {
                                "guest_id": guest_id,
                                "event_id": event_id,
                                "choice": true
                            }).done(function (data, status) {
                                self.guests[ii].rsvp[event_id] = true
                            });

                        }

                        break
                    }
                }
            },
            choose_no: function (guest_id, event_id) {

                var self = this

                for (var ii = 0; ii < this.guests.length; ii++) {
                    if (this.guests[ii].id === guest_id) {

                        if (this.guests[ii].rsvp[event_id] !== false) {

                            $.post("/update_rsvp", {
                                "guest_id": guest_id,
                                "event_id": event_id,
                                "choice": false
                            }).done(function (data, status) {
                                self.guests[ii].rsvp[event_id] = false
                            });
                        }
                        break
                    }
                }
            }
        },
        created: function () {
            // @formatter:off
            this.guests = {{ users | tojson }}
            this.events = {{ events_information | tojson }}
            // @formatter:on
        },
        computed: {
            progress: function () {
                completed_rsvp = 0
                total_rsvp = this.guests.length * this.events.length

                console.log(total_rsvp)

                for (var ii = 0; ii < this.guests.length; ii++) {
                    for (const [key, value] of Object.entries(this.guests[ii].rsvp)) {
                        if (value != null) {
                            completed_rsvp += 1
                        }
                    }
                }

                return completed_rsvp / total_rsvp
            }
        },

        delimiters: ["[[", "]]"]
    })
</script>

{% endblock page_content%}

